<a href="https://colab.research.google.com/github/Shakira25/Python_1st_assignment/blob/master/Exercize_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
list2 = ["My", "name", "is", "Kelly"]
# Number 1 join the list
Joint_list = list1 + list2
(Joint_list)

['Mike', '', 'Emma', 'Kelly', '', 'Brad', 'My', 'name', 'is', 'Kelly']

In [2]:
# Number 2: Reversing the list
Joint_list = ["Mike", "", "Emma", "Kelly", "", "Brad","My", "name", "is", "Kelly" ]
Joint_list.reverse()
(Joint_list)

['Kelly', 'is', 'name', 'My', 'Brad', '', 'Kelly', 'Emma', '', 'Mike']

In [3]:
# Number 3: Removing empty strings from the list
Joint_list = ["Mike", "", "Emma", "Kelly", "", "Brad","My", "name", "is", "Kelly" ]
List_without_empty_strings = []
for x in Joint_list:
    if (x==""):
      continue
    else:
      List_without_empty_strings.append(x)

(List_without_empty_strings)

['Mike', 'Emma', 'Kelly', 'Brad', 'My', 'name', 'is', 'Kelly']

In [4]:
# Number 4: Removing duplicates
Joint_list = ["Mike", "Emma", "Kelly", "Brad","My", "name", "is", "Kelly" ]
Joint_list = list(dict.fromkeys(Joint_list))
(Joint_list)

['Mike', 'Emma', 'Kelly', 'Brad', 'My', 'name', 'is']

In [5]:
# Number 5: Adding to the list
Joint_list = ["Mike", "Emma", "Kelly", "Brad","My", "name", "is", "Kelly" ]
Joint_list.append(50)
(Joint_list)

['Mike', 'Emma', 'Kelly', 'Brad', 'My', 'name', 'is', 'Kelly', 50]